<section class="profile-second-section">
  <div class="main-title-container">
    <h1>CAPTAIN OF THE CODE</h1>
  </div>

  <div class="about-me-container">
    <img
      class="tack tl"
      src="/images/cv/brassTack.png"
      alt="brass tack image"
    />
    <img
      class="tack tr"
      src="/images/cv/brassTack.png"
      alt="brass tack image"
    />
    <img
      class="tack bl"
      src="/images/cv/brassTack.png"
      alt="brass tack image"
    />
    <img
      class="tack br"
      src="/images/cv/brassTack.png"
      alt="brass tack image"
    />
    <h3>
      <img src="./images/cv/anchor.png" alt="Anchor Icon" />Captain's Profile
    </h3>
    <p>
      A dedicated sailor charting a new course into frontend development. With a
      background in technical training and engineering support, I have spent
      years creating clear and structured learning materials. Now, I navigate
      the world of modern web development, crafting responsive and user-friendly
      applications with the latest technologies.
    </p>
  </div>

  <div class="sub-title-container">
    <img
      class="tack tl"
      src="/images/cv/brassTack.png"
      alt="brass tack image"
    />
    <img
      class="tack tr"
      src="/images/cv/brassTack.png"
      alt="brass tack image"
    />
    <img
      class="tack bl"
      src="/images/cv/brassTack.png"
      alt="brass tack image"
    />
    <img
      class="tack br"
      src="/images/cv/brassTack.png"
      alt="brass tack image"
    />
    <h3>
      <img src="./images/cv/anchor.png" alt="Anchor Icon" />Captain's Traits
    </h3>
    <div class="traits-container">
      <div class="sub-title">
        <div>
          <img src="./images/cv/boatwheel.png" alt="Boat Wheel Icon" />
        </div>
        <ul>
          <li>Master Shipwright</li>
          <li>Practicing maintainable and scalable code</li>
        </ul>
      </div>
      <div class="sub-title">
        <div>
          <img
            src="./images/cv/compass.png"
            alt="Compass Icon"
            class="compass"
          />
        </div>
        <ul>
          <li>Master Navigator</li>
          <li>Turning challenges into opportunities one at a time</li>
        </ul>
      </div>
      <div class="sub-title">
        <div>
          <img src="./images/cv/weapon.png" alt="Weapon Icon" />
        </div>
        <ul>
          <li>Trusted First Mate</li>
          <li>Collaborating to achieve common goals</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="voyage-timeline">
    <img
      class="tack tl"
      src="/images/cv/brassTack.png"
      alt="brass tack image"
    />
    <img
      class="tack tr"
      src="/images/cv/brassTack.png"
      alt="brass tack image"
    />
    <img
      class="tack bl"
      src="/images/cv/brassTack.png"
      alt="brass tack image"
    />
    <img
      class="tack br"
      src="/images/cv/brassTack.png"
      alt="brass tack image"
    />
    <h3>
      <img src="./images/cv/anchor.png" alt="Anchor Icon" /> Voyage Timeline
    </h3>
    <div class="voyage-container">
      <div class="voyage-section">
        <div class="dates"><p>2018 - Present</p></div>
        <div class="details">
          <div>
            <img src="./images/cv/treasurebox.png" alt="treasure Logo" />
            <h4>Hino Motors Ltd.</h4>
          </div>

          <ul>
            <li>
              <strong>Technical Instruction:</strong> Designed and delivered
              comprehensive technical curriculum for international engineers,
              specialized in complex automotive systems including ECU logic, CAN
              bus communication, and electrical diagnostics.
            </li>
            <li>
              <strong>Curriculum Design:</strong> Authored structured technical
              manuals and documentation for advanced systems (DPR, SCR, engine
              ECU parameter customization, Safety device), maintaining high
              standards in English.
            </li>
            <li>
              <strong>Bilingual Facilitation:</strong> Conducted technical
              training sessions in Japanese (Nihongo) for foreign mechanics
              based in Japan, ensuring clear understanding of safety and
              technical protocols. Conducted technical training for Japanese
              mechanics.
            </li>
            <li>
              <strong>Hybrid Delivery:</strong> Orchestrated large-scale,
              international training initiatives by pivoting to a hybrid
              delivery model; integrated onsite workshops with remote platforms
              to ensure seamless learning continuity for global participants
              during the pandemic.
            </li>
            <li>
              <strong>Web Development:</strong> Engineered a custom internal web
              portal using HTML, CSS, and JavaScript to centralize training
              resources, improving material accessibility for overseas training
              group and for domestic distributors.
            </li>
          </ul>
        </div>
      </div>
      <div class="voyage-section">
        <div class="dates"><p>2016 March- 2017 December</p></div>
        <div class="details">
          <div>
            <img src="./images/cv/treasurebox.png" alt="treasure Logo" />
            <h4>Japan Engineering Service Co., Ltd.</h4>
          </div>
          <ul>
            <li>
              Developed and localized training materials for Overseas Training
              Group (Hino Motors Ltd.) and instructional Support on training.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="academy-section">
    <img
      class="tack tl"
      src="/images/cv/brassTack.png"
      alt="brass tack image"
    />
    <img
      class="tack tr"
      src="/images/cv/brassTack.png"
      alt="brass tack image"
    />
    <img
      class="tack bl"
      src="/images/cv/brassTack.png"
      alt="brass tack image"
    />
    <img
      class="tack br"
      src="/images/cv/brassTack.png"
      alt="brass tack image"
    />
    <h3>
      <img src="./images/cv/anchor.png" alt="Anchor Icon" />Training Academy
    </h3>
    <ul>
      <li>
        <img src="./images/cv/treasurebox2.png" alt="treasure2 Logo" />
        <span>2014 – 2016</span>
        <p>Phil-Nippon Technical College</p>
      </li>
      <li>
        <img src="./images/cv/treasurebox2.png" alt="treasure2 Logo" />
        <span>2008 - 2012</span>
        <p>Baguio College of Technology</p>
      </li>
    </ul>
  </div>

  <div class="explore-section">
    <img
      class="tack tl"
      src="/images/cv/brassTack.png"
      alt="brass tack image"
    />
    <img
      class="tack tr"
      src="/images/cv/brassTack.png"
      alt="brass tack image"
    />
    <img
      class="tack bl"
      src="/images/cv/brassTack.png"
      alt="brass tack image"
    />
    <img
      class="tack br"
      src="/images/cv/brassTack.png"
      alt="brass tack image"
    />
    <h3>
      <img src="./images/cv/anchor.png" alt="Anchor Icon" />Islands Explored
    </h3>
    <ul class="explore-list">
      <li>
        <img src="./images/index/timeline/eigth.png" alt="jewelry-page Icon" />
        <h4>Jewelry Website</h4>
        <div class="language">
          <span>HTML</span>
          <span>CSS</span>
          <span>JavaScript</span>
          <span>React</span>
        </div>
        <a
          href="https://nathan-front.github.io/Jewelry_page_react_ver/"
          target="_blank"
          rel="noopener noreferrer"
          class="logbook-link"
          ><span class="icon"></span> <span>View Logbook</span></a
        >
        <div class="location-icon">
          <img src="./images/cv/location.png" alt="location Icon" />
        </div>
      </li>
      <li>
        <img src="./images/index/timeline/sixth.png" alt="hotel-page Icon" />
        <h4>Hotel Website</h4>
        <div class="language">
          <span>HTML</span>
          <span>CSS</span>
          <span>JavaScript</span>
          <span>React</span>
        </div>
        <a
          href="https://nathan-front.github.io/Hotel_booking_react_ver/"
          target="_blank"
          rel="noopener noreferrer"
          class="logbook-link"
          ><span class="icon"></span> <span>View Logbook</span></a
        >
        <div class="location-icon">
          <img src="./images/cv/location.png" alt="hotel-page Icon" />
        </div>
      </li>
      <li>
        <img src="./images/index/timeline/fifth.png" alt="coffee-page Icon" />
        <h4>Coffee Website</h4>
        <div class="language">
          <span>HTML</span>
          <span>CSS</span>
          <span>JavaScript</span>
          <span>React</span>
        </div>
        <a
          href="https://nathan-front.github.io/Coffee_webpage_react_ver/"
          target="_blank"
          rel="noopener noreferrer"
          class="logbook-link"
          ><span class="icon"></span> <span>View Logbook</span></a
        >
        <div class="location-icon">
          <img src="./images/cv/location.png" alt="coffee-page Icon" />
        </div>
      </li>
      <li>
        <img
          src="./images/index/timeline/fourth.png"
          alt="Ecommerce-page Icon"
        />
        <h4>E-commerce Webpage</h4>
        <div class="language">
          <span>HTML</span>
          <span>CSS</span>
          <span>JavaScript</span>
          <span>React</span>
        </div>
        <a
          href="https://nathan-front.github.io/Ecommerce_react_ver/"
          target="_blank"
          rel="noopener noreferrer"
          class="logbook-link"
          ><span class="icon"></span> <span>View Logbook</span></a
        >
        <div class="location-icon">
          <img src="./images/cv/location.png" alt="Ecommerce-page Icon" />
        </div>
      </li>
    </ul>
  </div>
</section>
