#app {
    display: flex;
}
.profile-first-section {
    width: 25%;
    padding: 80px 0;
    background-color: rgba(27, 73, 101, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.profile-first-section> div {
    display: flex;
    flex-direction: column;
    color: white;
    width: 80%;
    justify-content: center;
    margin-top: 50px;
}
.avatar-container {
    position:relative;
    width: 100%;
    aspect-ratio: 1;
    margin: 0 auto;
}
.avatar-image,
.frame-image{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
}
.avatar-image{
    object-fit: cover;
    border-radius:50%;
    transform:scale(0.75);
}
.frame-image{
    object-fit:contain;
    z-index: 1;
    pointer-events:none;
    filter: drop-shadow(0 10px 20px rgba(0,0,0,.25));
    animation:shipRock 6s ease-in-out infinite;
}
@keyframes shipRock {
    0%,100%{
        transform:rotate(-1deg);
    }
    50%{
        transform:rotate(1deg);
    }
}
.name {
    font-family: "Pirata One", cursive;
    font-size: clamp(1.8rem, 2vw, 3rem);
    text-align: center;
    color: white;
    letter-spacing: 2px;
}
.about-me {
    width: 80%;
    margin: 0 auto;
    color: white;
    font-size: clamp(0.9rem, 1.1vw, 1.2rem);
    text-align: center;
    padding-bottom: 10px;
    position: relative;
}
.about-me::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
     background: linear-gradient(
        to right,
        transparent 0%,
        burlywood 50%,
        transparent 100%
    );
}
.info-container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.info-container> li {
    display: flex;
    gap: 0.5rem;
}
.info-container> li> span {
    font-size: clamp(0.8rem, 1vw, 1.2rem);
}
.info-container> li> p {
    font-size: clamp(0.8rem, 1vw, 1.2rem);
}
.contact-container> li> a {
    font-family: 'Merriweather', serif;
}
.contact-container,
.portfolio-container,
.language-container {
    width: 80%;
    margin: 3rem auto 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px burlywood solid;
    padding: 10px;
    border-radius: 12px;
    gap: 10px;
    border-image: radial-gradient(
        circle, 
        burlywood 90%, 
        transparent 100%
    ) 1;
}
.contact-container> li,
.portfolio-container> li,
.language-container> li {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
    position: relative;
}
.contact-container> li:first-child::before,
.portfolio-container> li:first-child::before,
.language-container> li:first-child::before  {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background: linear-gradient(
        to right,
        transparent 0%,
        burlywood 50%,
        transparent 100%
    );
}
.contact-container> li> img,
.portfolio-container> li> img,
.language-container> li> img {
    width: clamp(15px, 4vw, 20px);
    height: clamp(15px, 4vw, 20px);
}
.contact-container> li,
.contact-container> li> span,
.contact-container> li> p,
.contact-container> li> a,
.portfolio-container> li,
.portfolio-container> li> span,
.portfolio-container> li> p,
.portfolio-container> li> a,
.language-container> li,
.language-container> li> p {
    color: white;
    font-size: clamp(0.7rem, 1vw, 1.1rem);
   
}
.tags {
    padding-left: 15px;
    text-indent: -15px;
}
.main-title-container-mobile {
    display: none !important;
}
@media only screen and (max-width: 640px) {
    #app {
        display: flex;
        flex-direction: column;
    }
    .profile-first-section{
        width: 100%;
    }
    .profile-first-section> div {
        width: 80%;
        margin-top: 0;
    }
    .main-title-container-mobile {
        display: flex !important;
        justify-content: flex-start !important;
        width: 50% !important;
        margin-left:1rem !important;
        margin-right:auto !important;
        padding: 1.5rem;
        gap: 1rem;
        background-image: url("../../images/cv/woodBanner.webp");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transform-origin: top center;
        animation: swayFrontBack 5s ease-in-out infinite;
        filter: drop-shadow(0 10px 10px rgba(0,0,0,.25));
    }
    @keyframes swayFrontBack{
        0%,100%{
            transform: perspective(1200px) rotateX(4deg);
            filter: drop-shadow(0 15px 12px rgba(0,0,0,.3));
        }
        50%{
            transform: perspective(1200px) rotateX(-4deg);
            filter: drop-shadow(0 5px 6px rgba(0,0,0,.15));
        }
    }
    .main-title-container-mobile> img {
        width: clamp(32px, 5vw, 50px);
        height: clamp(32px, 5vw, 50px);
    }
    .main-title-container-mobile> h2 {
        font-family: "Pirata One", serif;
        font-size: clamp(1.2rem, 2.5vw, 2rem);
        color: #d4af37;
        text-shadow:
            1px 1px 0 #3a2414,
            0 0 5px rgba(255,215,0,.3);
        margin: 15% auto 0 auto;
        letter-spacing: 5px;
        text-align: center;
    }
    .avatar-container {
        width: 50% !important;
    }
    .avatar-image {
        filter:
        sepia(50%)
        saturate(250%)
        hue-rotate(350deg)
        brightness(0.95);
    }
    .contact-container,
    .portfolio-container,
    .language-container {
        width: 80%;
        margin: 1.5rem auto 0 auto;
    }
}