<section class="profile-first-section">
  <div class="avatar-container">
    <img
      src="./images/cv/roundFrame.png"
      alt="frame image"
      class="frame-image"
    />
    <img src="./images/cv/avatar.png" alt="avatar image" class="avatar-image" />
  </div>
  <div class="name-container">
    <h1 class="name">Jonathan P. Tindungan</h1>
    <p class="about-me">Self-taught Frontend Web Developer</p>
    <ul class="info-container">
      <li>
        <span>Level:</span>
        <p>Junior Frontend Developer</p>
      </li>
      <li>
        <span>Current Voyage:</span>
        <p>Seeking Opportunities</p>
      </li>
      <li>
        <span>Port:</span>
        <p>Japan</p>
      </li>
    </ul>
  </div>
  <ul class="contact-container">
    <li>
      <img src="./images/cv/anchor.png" alt="anchor Icon" />
      <h3 class="contact-title">Tavern</h3>
    </li>
    <li>
      <img src="./images/cv/web.png" alt="Website Icon" />
      <span>GitHub: </span>
      <a
        href="https://github.com/Nathan-Front"
        target="_blank"
        rel="noopener noreferrer"
        >Nathan-Front</a
      >
    </li>
    <li>
      <img src="./images/cv/web.png" alt="Website Icon" />
      <span>Instagram: </span>
      <a
        href="https://www.instagram.com/jonathantindungan/"
        target="_blank"
        rel="noopener noreferrer"
        >nathan89511</a
      >
    </li>
    <li>
      <img src="./images/cv/web.png" alt="Website Icon" />
      <span>LinkedIn: </span>
      <a
        href="https://www.linkedin.com/in/jonathan-tindungan/"
        target="_blank"
        rel="noopener noreferrer"
        >Jonathan Tindungan</a
      >
    </li>
  </ul>
  <ul class="portfolio-container">
    <li>
      <img src="./images/cv/anchor.png" alt="Anchor Icon" />
      <h3 class="portfolio-title">Captain's Finest Treasure</h3>
    </li>

    <li>
      <span>Jewelry Webpage</span>
      <a
        href="https://nathan-front.github.io/Jewelry_page_react_ver/"
        target="_blank"
        rel="noopener noreferrer"
      >
        https://nathan-front.github.io/Jewelry_page_react_ver/
      </a>
    </li>
    <li>
      <p class="tags">
        -Built a responsive e-commerce jewelry website using React
      </p>
    </li>
    <li>
      <p class="tags">
        -Implemented Google Sheets integration as a lightweight backend for
        messaging and newsletter subscriptions
      </p>
    </li>
    <li>
      <p class="tags">
        -Used sessionStorage for persistent client side state management
      </p>
    </li>
    <li>
      <p class="tags">-Applied modern ES6 + JavaScript features</p>
    </li>
    <li>
      <p class="tags">-Deployed via GitHub Pages</p>
    </li>
  </ul>
  <ul class="language-container">
    <li>
      <img src="./images/cv/anchor.png" alt="Anchor Icon" />
      <h3>Captain's Tongues</h3>
    </li>
    <li>
      <img src="./images/cv/PH.svg" alt="Filipino Icon" />
      <p>Filipino - Fluent (Ilokano Dialect)</p>
    </li>
    <li>
      <img src="./images/cv/US-UK.svg" alt="English Icon" />
      <p>English - Fluent/Professional</p>
    </li>
    <li>
      <img src="./images/cv/JP.svg" alt="Japanese Icon" />
      <p>Nihongo - JLPT N2/Business</p>
    </li>
  </ul>
</section>
