
.profile-second-section {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 0 0 0 20px;
    position: relative;
}
.profile-second-section> div {
    width: 92%;
    background-image: url("../../images/cv/parchedPaper.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:
        0 20px 35px rgba(0,0,0,.35),
        inset 0 0 40px rgba(90,50,10,.15);
    clip-path: polygon(
        1% 0%,
        99% 1%,
        100% 98%,
        0% 100%
    );
    position: relative;
}
.seal {
    position: absolute;
    top: 13px;
    right: 50px;
    width: 60px;
    mix-blend-mode: multiply;
    opacity: 0.92;
    filter:
    drop-shadow(0 2px 1px rgba(0,0,0,0.35))
    drop-shadow(0 6px 8px rgba(0,0,0,0.25));
    border-radius: 50%;
    box-shadow:
    inset 0 2px 3px rgba(255,255,255,0.25),
    inset 0 -4px 8px rgba(0,0,0,0.4),
    0 4px 10px rgba(0,0,0,0.3);
    transform: rotate(8deg);
}
.about-me-container {
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    gap: 1rem;
    position: relative;
    border: 1px solid rgba(177,137,73,.3);
    box-shadow:
        0 12px 30px rgba(0,0,0,.25),
        inset 0 0 20px rgba(0,0,0,.08);
    backdrop-filter: blur(2px);
    padding: 2rem 1.5rem;
    transform: rotate(-0.4deg);
}
.tack {
    position:absolute;
    width:18px;
    height:18px;
    filter:
    drop-shadow(0 2px 2px rgba(0,0,0,.4))
    drop-shadow(0 4px 6px rgba(0,0,0,.2));
}
.tl {
    top:10px;
    left:18px;
}
.tr {
    top:15px;
    right:18px;
}
.bl {
    bottom:10px;
    left:10px;
}
.br {
    bottom:27px;
    right:10px;
}
.about-me-container> h3,
.sub-title-container> h3,
.voyage-timeline> h3,
.academy-section> h3,
.explore-section> h3 {
    font-size: clamp(1.3rem, 2vw, 2.5rem);
    color: #0A2540;
}
.about-me-container> h3 {
    text-shadow: 0 2px rgba(255,255,255,.3);
    display: flex;
    align-items: center;
    gap: 1rem;
}
.profile-second-section> div> h3> img {
    width: clamp(32px, 5vw, 50px);
    height: clamp(32px, 5vw, 50px);
    filter:
    sepia(20%)
    contrast(90%)
    brightness(95%);
    opacity: 0.55;
    mix-blend-mode: multiply;
    filter: sepia(30%) contrast(85%);
}
.about-me-container> p {
    line-height: 1.2;
    color:#233b55;
    text-shadow: 0 1px rgba(255,255,255,.3);
}
.sub-title-container {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    border: 1px solid rgba(177,137,73,.3);
    box-shadow:
        inset 0 0 15px rgba(60,30,0,.25),
        inset 0 0 40px rgba(80,40,0,.15);
    padding: 2rem 1.5rem;
}
.sub-title-container> h3 {
    text-shadow: 0 2px rgba(255,255,255,.3);
    display: flex;
    align-items: center;
    gap: 1rem;
}
.traits-container {
    display: flex;
    gap: 1rem;
}
.sub-title {
    display: flex;
    gap: 1rem;
}
.sub-title> div> img {
    width: clamp(30px, 5vw, 60px);
    height: clamp(30px, 5vw, 60px);
    filter:
    sepia(20%)
    contrast(90%)
    brightness(95%);
    opacity: 0.55;
    mix-blend-mode: multiply;
    filter: sepia(30%) contrast(85%);
}
.compass {
    opacity: 0.8;
}
.sub-title> ul {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sub-title> ul> li:first-child {
    font-size: clamp(1rem, 1.2vw, 1.8rem);
    font-weight: 600;
    color:#233b55;
    text-shadow: 0 1px rgba(255,255,255,.3);
}
.sub-title> ul> li:last-child {
    font-size: clamp(1rem, 1.2vw, 1.8rem);
    font-family: 'Merriweather', serif;
    color:#233b55;
    text-shadow: 0 1px rgba(255,255,255,.3);
    line-height: 1.2;
}
.traits-container {
    display: flex;
}
.voyage-timeline {
    position: relative;
    border: 1px solid rgba(177,137,73,.3);
    box-shadow:
        inset 0 0 15px rgba(60,30,0,.25),
        inset 0 0 40px rgba(80,40,0,.15);
    padding: 2rem 1.5rem;
}
.voyage-timeline> h3 {
    text-shadow: 0 2px rgba(255,255,255,.3);
    display: flex;
    align-items: center;
    gap: 1rem;
}
.voyage-container {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.voyage-section {
    width: 100%;
    display: flex;
    gap: 1rem;
}
.dates {
    width: 20%;
    font-size: clamp(0.9rem, 1.2vw, 1.5rem);
    font-weight: 800;
    text-align: center;
    position: relative;
    margin-left: 35px;
    text-align: center;
    font-weight: bold;
    color:#24405d;
    text-shadow: 0 1px rgba(255,255,255,.3);
}
.dates::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: -15px;
    left: -39px;
    z-index: 1;
    background-image: url("../../images/cv/island.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    filter:
    sepia(20%)
    contrast(90%)
    brightness(95%);
    opacity: 0.55;
    mix-blend-mode: multiply;
    filter: sepia(30%) contrast(85%);
}
.dates::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 95%;     
    top: 33px;
    left: -21px;
    background: #8b642e;
    opacity: 0.65;
    mix-blend-mode: multiply;
    border-radius: 999px;
}
.dates> img {
    display: none;
    filter:
    sepia(20%)
    contrast(90%)
    brightness(95%);
    opacity: 0.55;
    mix-blend-mode: multiply;
    filter: sepia(30%) contrast(85%);
}
.dates> p {
    margin: 20px 0 0 0;
    font-family: "Pirata One", serif;
    letter-spacing: 1px;
}
.details {
    width: 70%;
    min-height: 250px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    position: relative;
}
.details-header-image {
    height: 110px;
    min-height: 100px;
    max-height: 120px;
    top: 0;
    left: 0;
    background-image: url("../../images/cv/paperDagger.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
     /*   filter:
        drop-shadow(0 -3px 2px rgba(0,0,0,.35)) /*top*/
       /* drop-shadow(-3px 0 2px rgba(0,0,0,.35)) /*left*/
       /* drop-shadow(3px 0 2px rgba(0,0,0,.35)); /*right*/
    
   /* clip-path: inset(0 0 1px 0);*/
}
.details-text-content {
    width: 100%;
    background-image: url("../../images/cv/paperDaggerHalf.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -2px;
   /* filter:
        drop-shadow(-3px 0 2px rgba(0,0,0,.35)) 
        drop-shadow(-3px 0 2px rgba(0,0,0,.35)) 
        drop-shadow(3px 0 2px rgba(0,0,0,.35)); 
    
    clip-path: inset(1px 0 0 0);*/
}
.details-text-content> div {
    display: flex;
    align-items: flex-end;
    gap: 8px;
}
.details-text-content> div> img {
    margin-left: 10%;
    width: clamp(35px, 4vw, 50px);
    height: clamp(35px, 4vw, 50px);
    mix-blend-mode: multiply;
    opacity: 0.75;
    filter:
        grayscale(1)
        contrast(1.6)
        brightness(0.9)
        sepia(0.4);
}
.details-text-content> div> div {
    width: 70%;
}
.details-text-content> div> div> span,
.details-text-content> div> div> h4,
.details-text-content> ul> li {
    color: #0A2540;
    mix-blend-mode: multiply;
    opacity: 0.75;
    filter:
        grayscale(1)
        contrast(1.6)
        brightness(0.9)
        sepia(0.4);
}
.details-text-content> div> div> h4 {
    font-size: clamp(1.1rem, 1.5vw, 1.8rem);
    letter-spacing: 1.2px;
}
.details-text-content> ul {
    width: 100%;
    height: auto;
    min-height: 100px;
    margin: -1px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.details-text-content> ul> li {
    width: 80%;
    margin: 0 auto;
    font-size: clamp(1rem, 1.2vw, 1.8rem);
    line-height: 1.2;
    font-family: 'Merriweather', serif;
}
.details-text-content> ul> li:first-child {
    margin-top: 30px;
}
.details-text-content> ul> li:last-child {
    margin-bottom: 40px;
}
.academy-section {
    position: relative;
    border: 1px solid rgba(177,137,73,.3);
    box-shadow:
        inset 0 0 15px rgba(60,30,0,.25),
        inset 0 0 40px rgba(80,40,0,.15);
    padding: 2rem 1.5rem;
}
.academy-section> h3 {
    text-shadow: 0 2px rgba(255,255,255,.3);
    display: flex;
    align-items: center;
    gap: 1rem;
}
.academy-section> ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 30px 0;
}
.academy-section> ul> li {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.academy-section> ul> li> img {
    width: clamp(28px, 4vw, 40px);
    height: clamp(28px, 4vw, 40px);
    filter:
    sepia(20%)
    contrast(90%)
    brightness(95%);
    opacity: 0.55;
    mix-blend-mode: multiply;
    filter: sepia(30%) contrast(85%);
}
.academy-section> ul> li> span {
    letter-spacing: 1px;
}
.academy-section> ul> li> span,
.academy-section> ul> li> p {
    font-size: clamp(1rem, 1.2vw, 1.8rem);
    color:#233b55;
    text-shadow: 0 1px rgba(255,255,255,.3);
}
.explore-section {
    position: relative;
    border: 1px solid rgba(177,137,73,.3);
    box-shadow:
        inset 0 0 15px rgba(60,30,0,.25),
        inset 0 0 40px rgba(80,40,0,.15);
    padding: 2rem 1.5rem 1rem 1.5rem;
    margin-bottom: 20px;
    transform: rotate(-0.2deg);
}
.explore-section> h3 {
    text-shadow: 0 2px rgba(255,255,255,.3);
    display: flex;
    align-items: center;
    gap: 1rem;
}
.explore-list {
    width: 99%;
    margin: 0 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 30px 0;
}
.explored-islands {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #0f2d4a;
    position: relative;
    margin-bottom: 130px;
    isolation: isolate;
    z-index: 0;
}
.explored-islands::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../images/cv/cardParchment.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: drop-shadow(1px 1px 5px rgba(0,0,0,.5));
    z-index: -1;
}
.explored-islands::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -39px;
    transform: translateX(-50%);
    width: 80px;
    height: 120px;
    border-radius: 50%;
    background-image: url("../../images/cv/anchorDrop.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform .5s ease;
    z-index: -2;
}
.explored-islands:has(.logbook-link:hover)::after {
    transform: translate(-50%, 72px);
}
.explored-islands:has(.logbook-link:hover) .location-icon::after {
    display: none;
    animation: unset;
}

.explored-islands> img {
    width: 90%;
    margin: 5% auto;
    height: 50%;
    padding: 10px;
    filter:
    sepia(20%)
    contrast(90%)
    brightness(95%);
    opacity: 0.85;
    mix-blend-mode: multiply;
    filter: sepia(10%) contrast(85%);
}
.explored-islands> h4,
.language,
.logbook-link,
.logbook-link .icon {
    color: #0A2540;
    mix-blend-mode: multiply;
    opacity: 0.75;
    filter:
        grayscale(1)
        contrast(1.6)
        brightness(0.9)
        sepia(0.4);
}
.explored-islands> h4 {
    width: 90%;
    margin: 0 auto;
    font-size: clamp(1.1rem, 1.2vw, 1.5rem);
}
.language {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    letter-spacing: 1px;
}
.language> span {
    font-size: clamp(0.8rem, 1.2vw, 1.2rem);
    padding: 3px;
    border: 1px burlywood solid;
    border-radius: 0.25rem;
}
.logbook-link {
    color: #0f2d4a;
    width: 95%;
    margin: 0 auto 20px auto;
    letter-spacing: 1px;
    font-size: clamp(1rem, 1.2vw, 1.8rem);
}
.logbook-link> span:last-child {
    position: relative;
    width: fit-content;
}
.logbook-link> span:last-child::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 50%;
    bottom: -4px;
    background: linear-gradient(
        to right,
        transparent 0%,
        #0f2d4a 50%,
        transparent 100%
    );
    transform: translateX(-50%);
    transition: width 0.3s ease;
}
.logbook-link:hover> span:last-child::after {
    width: 100%;
}
.logbook-link .icon {
    width: clamp(24px, 2vw, 50px);
    height: clamp(20px, 2vw, 40px);
    display: inline-block;
    background: url("../../images/cv/scroll.webp") center/contain no-repeat;
    transition: transform 0.3s ease;
    margin-left: 4px;
}
.logbook-link:hover .icon {
    background-image: url("../../images/footer/pirateship.webp");
    transform: translateX(4px);
}
.logbook-link> span:last-child {
    margin-left: 4px;
}
.location-icon {
    width: 100%;
    position: relative;
}
.location-icon::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 100px;
    top: 100%;      
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background:
    radial-gradient(
        circle,
        rgba(27, 73, 101, 0.5) 0 2px,
        burlywood 2px 3px,
        transparent 4px
    );
    background-size: 8px 16px;
    background-repeat: repeat-y;
    animation: trailFlow 2s linear infinite;
    z-index: -3;
}
@keyframes trailFlow {
    from {
        background-position: center 0;
    }
    to {
        background-position: center 16px;
    }
}
.location-icon> img {
    width: clamp(32px, 5cqh, 55px);
    margin: 0;
    padding: 80px 0 0 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: buoy 3s ease-in-out infinite;
    z-index: 1;
}
@keyframes buoy {
    0%,100% {
        transform: translateY(0) translateX(-50%);
    }
    50% {
        transform: translateY(-5px) translateX(-50%);
    }
}

@media only screen and (max-width: 640px) {
    .profile-second-section{
        width: 100%;
        padding: 0;
        margin: 0;
        align-items: center;
    }
    .profile-second-section> div {
        width: 75%;
    }
    .about-me-container {
        margin-top: 2rem;
    }
    .about-me-container> p {
        margin-bottom: 1rem;
    }
    .sub-title {
        width: 100%;
        flex-direction: column;
        gap: 3px;
    }
    .sub-title> div> img {
        margin: 0 auto;
    }
    .sub-title> ul {
        width: 100%;
        gap: 5px;
    }
    .sub-title> ul> li:last-child {
        margin-bottom: 1rem;
    }
    .about-me-container,
    .voyage-timeline,
    .explore-section {
        transform: rotate(0);
    }
    .voyage-section {
        width: 100%;
        flex-direction: column;
    }
    .dates::before,
    .dates::after {
        display: none;
    }
    .dates {
        display: flex;
        align-items: flex-end;
        gap: 10px;
        width: 100%;
        margin-left: 0;
        text-align: left;
    }
    .dates> img {
        display: flex;
        width: 40px;
        height: 40px;
    }
    .dates> p {
        margin: 0;
        font-size: 1rem;
    }
    .details {
        width: 100%;
        padding: 0;
    }
    .details> div {
        width: 95%;
        margin: 0 auto;
    }
    .details> div:last-child {
        margin-top: -1px;
    }
    .details-text-content> div {
        align-items: center;
    }
    .details-text-content> ul {
        width: 95%;
        margin: -1px auto 5% auto;
    }
    .details-text-content> ul> li:first-child {
        margin-top: 20px;
    }
    .details-text-content> ul> li:last-child {
        margin-bottom: 50px;
    }
    .explore-list {
        width: 90%;
        margin: 0 auto;
        gap: 2rem;
    }
    .explored-islands {
        width: 100%;
        margin: 0 auto;
    }
    .explored-islands> img,
    .explored-islands> h4,
    .language {
        width: 90%;
        margin: 0 auto;
    }
    .explored-islands> a {
        margin-left: 3%;
    }
    .explored-islands::after {
        background-image: url("../../images/cv/location.webp");
        bottom: -20px;
        width: 30px;
        height: 30px;
        z-index: 1;
    }
    .explored-islands:has(.logbook-link:hover)::after {
        transform: translateX(-50%);
    }
    .logbook-link {
        margin-bottom: 0;
    }
    .location-icon::after {
        content: unset;
        width: unset;
        height: unset;
        background: transparent;
    }
    .location-icon> img {
        display: none;
    }
}
@media (min-width: 641px) and (max-width: 905px) {
    .profile-second-section> div {
        width: 88%;
    }
    .about-me-container {
        margin-top: 200px;
    }
}
@media (min-width: 906px) and (max-width: 1536px) {
    .language> span {
        font-size: clamp(0.8rem, 1vw, 1.2rem);
    }
}
@media (min-width: 1280px) and (max-width: 1920px) {
    .details-text-content> ul> li:last-child {
        margin-bottom: 80px;
    }
}
@media (min-width: 1537px) and (max-width: 1920px) {
    .explored-islands::after {
        width: 250px;
        height: 180px;
        bottom: -60px;
    }
}
@media (min-width: 1921px) and (max-width: 2560px) {
    .explored-islands::after {
        width: 250px;
        height: 180px;
        bottom: -60px;
    }
    .details-text-content> ul> li:last-child {
        margin-bottom: 80px;
    }
}