<nav class="navbar">
  <img src="./images/nav/logo.webp" alt="logo" class="logo" />
  <span class="my-name">JT</span>
  <ul class="nav-links-wrapper">
    <li class="nav-links">
      <a href="index.html"
        ><img src="./images/nav/compassLink.webp" alt="anchor Icon" />Voyage</a
      >
    </li>
    <li class="nav-links">
      <a href="profile.html"
        ><img src="./images/nav/bagLink.webp" alt="bag Icon" />Manifest</a
      >
    </li>
    <li class="nav-links">
      <a href="contact.html"
        ><img src="./images/nav/anchorLink.webp" alt="anchor Icon" />Drop
        Anchor</a
      >
    </li>
  </ul>
</nav>
