:root{
    --nav-height: 85px;
}
.navbar {
    width: 100%; 
    height: var(--nav-height);
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.55);
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.4s ease;
    z-index: 9;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(212,175,55,.2);
    box-shadow:
        0 4px 20px rgba(0,0,0,.8),
        0 0 30px rgba(255,140,0,.15);
}
.navbar.hide {
    transform: translateY(-100%);
}
.navbar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 15px;
    background-image: url("../../images/nav/border.png");
    background-size: contain;
    pointer-events: none;
    z-index: 2;
}
.navbar::before {
    content: "";
    position: absolute;
    right: -23px;
    top: 99%;
    width: clamp(7rem, 12vw, 30rem);
    height: clamp(7rem, 12vw, 30rem);
    background-image:
    radial-gradient(
        rgba(255,180,50,.25),
        transparent 70%
    ),
     url("../../images/nav/lamp.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    animation: swing 15s linear infinite;
}
@keyframes swing{
    0%,100%{
        transform:rotate(-1deg);
    }
    50%{
        transform:rotate(1deg);
    }
}
.logo {
    width: clamp(40px, 4vw, 80px);
    margin: 0 0 0 2rem;
    filter:
        sepia(100%)
        saturate(300%)
        hue-rotate(350deg)
        brightness(1.05);
}
.my-name {
    margin: 0 0 0 1rem;
    padding: 0;
    color: white;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    font-family: "Pirata One", cursive;
    letter-spacing: 3px;
    color: #d4af37;
    text-shadow:
        2px 2px 0 #3a2414,
        0 0 15px rgba(212,175,55,.5),
        0 0 30px rgba(212,175,55,.2);
}
.nav-links-wrapper {
    display: flex;
    gap: 1rem;
    margin: 0 5rem 0 auto;
}
.nav-links> a {
    color: white;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    position: relative;
    display: flex;
    align-items: center;
    gap: 3px;
}
.nav-links> a> img {
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
    filter:
        sepia(100%)
        saturate(300%)
        hue-rotate(350deg)
        brightness(1.05);
}
.nav-links> a:hover {
    color: #d4af37;
    text-shadow: 0 0 8px rgba(212,175,55,.5);
}
.nav-links> a:hover> img {
     filter:
        sepia(100%)
        saturate(350%)
        brightness(1.2)
        drop-shadow(0 0 8px rgba(255,215,0,.6));
}
.nav-links> a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -80%;
    width: 0;
    height: 3px;
    background-color: #d4af37;;
    transition: width 0.3s ease;
}
.nav-links > a:hover::after {
    width: 100%;  
}
@media only screen and (max-width: 599px) {
    .my-name {
        margin: 0 0 0 2rem;
    }
    .nav-links-wrapper {
        margin: 0 2rem 0 auto;
    }
}