<nav class="navbar">
  <img src="./images/nav/logo.webp" alt="logo" class="logo" />
  <span class="my-name">JT</span>
  <ul class="nav-links-wrapper">
    <li>
      <button class="close-mobile-nav">
        <img src="./images/nav/closeButton.webp" alt="close-button" />Close
      </button>
    </li>
    <li class="nav-links">
      <a href="index.html"
        ><img src="./images/nav/compassLink.webp" alt="anchor Icon" />VOYAGE</a
      >
    </li>
    <li class="nav-links">
      <a href="profile.html"
        ><img src="./images/nav/bagLink.webp" alt="bag Icon" />MANIFEST</a
      >
    </li>
    <li class="nav-links">
      <a href="contact.html"
        ><img src="./images/nav/anchorLink.webp" alt="anchor Icon" />DROP
        ANCHOR</a
      >
    </li>
    <li class="mobile-footer">
      <p>Captain's Taverns</p>
      <ul>
        <li>
          <a
            href="https://github.com/Nathan-Front"
            target="_blank"
            rel="noopener noreferrer"
            >Github</a
          >
          <img
            src="./images//footer/github-round-svgrepo-com.svg"
            alt="github"
          />
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/jonathan-tindungan-8072691a1"
            target="_blank"
            rel="noopener noreferrer"
            >LinkedIn</a
          >
          <img
            src="./images//footer/linkedin-round-svgrepo-com.svg"
            alt="linkedIn"
          />
        </li>
        <li>
          <a
            href="mailto:jonathantindungan3@gmail.com?subject=Inquire"
            target="_blank"
            rel="noopener noreferrer"
            >Email</a
          >
          <img
            src="./images/footer/google-logo-fill-svgrepo-com.webp"
            alt="linkedIn"
          />
        </li>
      </ul>
      <span>© 2026 Jonathan. All rights reserved.</span>
    </li>
  </ul>
  <button class="mobile-nav-open">
    <img src="./images/nav/telescopeLink.webp" alt="mobile-nav" />Menu
  </button>
  <div class="main-title-container">
    <h2>CAPTAIN OF THE CODE</h2>
  </div>
  <div class="overlay"></div>
</nav>
