<section class="about-section" id="about">
  <h1 class="split-reveal" data-text="Welcome Aboard!">Welcome Aboard!</h1>
  <p class="typewriter-text" id="multiline-typewriter">
    Serving as a Technical Instructor for a Japanese company, I spend my days
    helping crewmates navigate their learning journeys. Beyond my duties, I have
    devoted the past year to exploring the ever-changing seas of Web
    Development, steadily building a strong foundation in modern web
    technologies. Each new project is another voyage, each challenge another
    storm to overcome, as I continue my quest to grow into a capable and
    dependable developer.
  </p>
  <a href="#contact" class="contact-btn">Contact The Captain</a>
  <div class="map">
    <svg class="route-svg" viewBox="0 0 1000 200" preserveAspectRatio="none">
      <path
        id="route"
        d="M950 100
         C700 180, 300 20, 50 100"
      />
      <g class="treasure-x" transform="translate(50 100)">
        <line x1="-6" y1="-6" x2="6" y2="6" />
        <line x1="-6" y1="6" x2="6" y2="-6" />
      </g>
      <image
        href="./images/index/footer/pirateship.png"
        x="-20"
        y="-15"
        width="30"
        height="15"
        preserveAspectRatio="none"
      >
        <animateMotion dur="30s" repeatCount="indefinite" rotate="auto-reverse">
          <mpath href="#route" />
        </animateMotion>
        <animate
          attributeName="opacity"
          values="1;1;0.2"
          keyTimes="0;0.7;1"
          dur="30s"
          repeatCount="indefinite"
        />
      </image>
    </svg>
  </div>
</section>
