<footer class="footer-section" id="contact">
  <div class="footer-content">
    <div class="marquee-container">
      <h3>Send a Message in a Bottle</h3>
      <p>
        If you have any questions, or just want to say hi, feel free to reach
        out!
      </p>
      <div class="contact-info">
        <a
          href="https://github.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="contact-link"
        >
          <span>GitHub</span>
          <img
            src="./images/index/footer/github-round-svgrepo-com.svg"
            alt="github icon"
          />
        </a>
        <a
          href="https://www.linkedin.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="contact-link"
        >
          <span>LinkedIn</span>
          <img
            src="./images/index/footer/linkedin-round-svgrepo-com.svg"
            alt="linkedin icon"
          />
        </a>
        <a
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="contact-link"
        >
          <span>Facebook/Meta</span>
          <img
            src="./images/index/footer/facebook-round-svgrepo-com.svg"
            alt="facebook icon"
          />
        </a>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="contact-link"
        >
          <span>Instagram</span>
          <img
            src="./images/index/footer/instagram-round-svgrepo-com.svg"
            alt="instagram icon"
          />
        </a>
      </div>
    </div>
    <div class="marquee-container">
      <h3>Send a Message in a Bottle</h3>
      <p>
        Need a developer for your next voyage? Let's chart a course together.
      </p>
      <div class="contact-info">
        <a
          href="https://github.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="contact-link"
        >
          <span>GitHub</span>
          <img
            src="./images/index/footer/github-round-svgrepo-com.svg"
            alt="github icon"
          />
        </a>
        <a
          href="https://www.linkedin.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="contact-link"
        >
          <span>LinkedIn</span>
          <img
            src="./images/index/footer/linkedin-round-svgrepo-com.svg"
            alt="linkedin icon"
          />
        </a>
        <a
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="contact-link"
        >
          <span>Facebook/Meta</span>
          <img
            src="./images/index/footer/facebook-round-svgrepo-com.svg"
            alt="facebook icon"
          />
        </a>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="contact-link"
        >
          <span>Instagram</span>
          <img
            src="./images/index/footer/instagram-round-svgrepo-com.svg"
            alt="instagram icon"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="alrights-reserved">
    <p class="copyright">© 2026 Jonathan. All rights reserved.</p>
    <img src="./images/index/footer/pirateship.png" alt="copyright icon" />
  </div>
</footer>
