<section class="contact-second-section">
  <div class="contact-left-container">
    <div class="contact-left-container-title">
      <h2>Send a Message</h2>
      <img src="./images/contact/ornamentalDivider.png" alt="divider" />
    </div>
    <form action="https://formspree.io/f/xayzqjvd" method="POST">
      <div class="input-container">
        <img
          src="/images/contact/person.svg"
          alt="person"
          class="input-image"
        />
        <input type="text" name="name" placeholder="Your Name" required />
      </div>
      <div class="input-container">
        <img src="/images/contact/mail.svg" alt="mail" class="input-image" />
        <input type="email" name="_replyto" placeholder="Your Email" required />
      </div>
      <div class="input-container">
        <img
          src="/images/contact/anchor.svg"
          alt="anchor"
          class="input-image"
        />
        <input type="text" name="subject" placeholder="Subject" />
      </div>
      <div class="input-container">
        <img
          src="/images/contact/feather.svg"
          alt="feather"
          class="textarea-image"
        />
        <textarea name="message" placeholder="Your Message" required></textarea>
      </div>

      <button type="submit" class="send-button"></button>
    </form>
  </div>
  <div class="contact-right-container">
    <div class="contact-right-container-title">
      <h3>Other Ways To Contact The Captain</h3>
      <img src="./images/contact/ornamentalDivider.png" alt="contact" />
    </div>

    <ul>
      <li>
        <img src="../../images/contact/pirateBottle.png" alt="bottle" />
        <div>
          <h4>By Bottle</h4>
          <p>jonathantindungan3@gmail.com</p>
        </div>
      </li>
      <li>
        <img src="../../images/contact/pirateParrot.png" alt="parrot" />
        <div>
          <h4>At the Tavern</h4>
          <p>Github</p>
        </div>
      </li>
      <li>
        <img src="../../images/contact/pirateMonocular.png" alt="monocular" />
        <div>
          <h4>On the Horizon</h4>
          <p>LinkedIn</p>
        </div>
      </li>
      <li>
        <img src="../../images/contact/pirateCoin.png" alt="coins" />
        <div>
          <h4>Signal Flag</h4>
          <p>Typically replies within 24-48 hours</p>
        </div>
      </li>
    </ul>
  </div>
</section>
