<section class="contact-second-section">
  <div class="contact-left-container">
    <div class="contact-left-container-title">
      <h2>Send a Message</h2>
      <img src="./images/contact/ornamentalDivider2.webp" alt="divider" />
    </div>
    <form id="contact-form">
      <div class="input-container">
        <img
          src="./images/contact/person.svg"
          alt="person"
          class="input-image"
        />
        <input
          type="text"
          name="name"
          placeholder="Your Name"
          id="fname"
          required
        />
      </div>
      <div class="input-container">
        <img src="./images/contact/mail.svg" alt="mail" class="input-image" />
        <input
          type="email"
          name="email"
          placeholder="Your Email"
          id="fmail"
          required
        />
      </div>
      <div class="input-container">
        <img
          src="./images/contact/anchor.svg"
          alt="anchor"
          class="input-image"
        />
        <input
          type="text"
          name="subject"
          id="fsubject"
          placeholder="Subject"
          required
        />
      </div>
      <div class="input-container">
        <img
          src="./images/contact/feather.svg"
          alt="feather"
          class="textarea-image"
        />
        <textarea
          name="message"
          placeholder="Your Message"
          id="fmessage"
          required
        ></textarea>
      </div>
      <input type="text" name="website" class="honeypot" />
      <button type="submit" class="send-button">
        <span class="spinner"></span>
      </button>
    </form>
  </div>
  <div class="contact-right-container">
    <div class="contact-right-container-title">
      <h3>Other Ways To Contact The Captain</h3>
      <img src="./images/contact/ornamentalDivider3.webp" alt="contact" />
    </div>

    <ul>
      <li>
        <img src="./images/contact/pirateBottle.webp" alt="bottle" />
        <div>
          <h4>By Bottle</h4>
          <p>Email</p>
        </div>
      </li>
      <li>
        <img src="./images/contact/pirateParrot.webp" alt="parrot" />
        <div>
          <h4>At the Tavern</h4>
          <p>Github</p>
        </div>
      </li>
      <li>
        <img src="./images/contact/pirateMonocular.webp" alt="monocular" />
        <div>
          <h4>On the Horizon</h4>
          <p>LinkedIn</p>
        </div>
      </li>
      <li>
        <img src="./images/contact/pirateCoin.webp" alt="coins" />
        <div>
          <h4>Signal Flag</h4>
          <p>Typically signals within 24-48 hours</p>
        </div>
      </li>
    </ul>
  </div>
</section>
