<section class="contact-first-section">
  <div class="contact-first-section-images">
    <img src="./images/contact/ornamental.webp" alt="contact" />
    <img src="./images/contact/skull.webp" alt="contact" />
    <img src="./images/contact/ornamental.webp" alt="contact" />
  </div>
  <div class="contact-first-section-title">
    <h1>Contact The Captain</h1>
    <img src="./images/contact/ornamentalDivider.webp" alt="contact" />
  </div>

  <p>Have a question, a suggestions, or just want to say ahoy?</p>
  <p>The captain would love to hear it from you!</p>
</section>
